body{margin: 0px !important;}

.class_ul {
    list-style-type:none;
    margin:0 !important;
    padding: 0;
    overflow:hidden;
    margin: 100px;
    background-color: rgb(42, 99, 173);
  }
li {
    float:left;
  }
li a.activ {
    display: 8px block !important;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center !important;
    padding: 8px !important;
    text-decoration: none;
  }
li a:hover {
    background-color: rgb(126, 141, 161);
  }
  img.display{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50% !important;
  }
  
  h2.fotosf{
    text-align: center !important;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

  }

  div.fts{display: block;
  width: 45% !important;
  height: 45% !important;
  margin-left: auto;
  margin-right: auto;  
}

  img.slide{border-radius: 10px;
    border: 3px solid;
  }


  div.baixo{
    list-style-type:none;
    position:fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    overflow:hidden;
    background-color: rgb(42, 99, 173);
    margin: -4px !important;
  }

  img.social{
height: 35px;
width: 35px;
position:relative;
bottom: 0;
right: 0;
margin: 5px;
  }

div.soci{
  float: left;
  margin: 20px;
  position: fixed;
  bottom:0;
  right: 0;
}
div.history{
width: 650px;
font-family: Arial, Helvetica, sans-serif;
text-align: left;
margin-left: 20px;
float: left;
}

div.fthistory{
width: 100px;
float: left;
margin-top: 30px;
}

img.ftshistory{
width: 500% !important;
position: relative;
margin-top: 10px;
margin-left: 80px;
border-radius: 10px;
border:3px solid;
}

div.formulary{
border:2px solid rgb(110, 110, 110);
margin-top: 10px;
margin-left: 370px;
border:1px solid;
background-color:rgb(201, 201, 201);
width:600px;
height:360px;
float:left;
border-radius:10px;
}
input[type=submit] {
  background-color: rgb(42, 99, 173);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 220px;
}

input[type=reset] {
  background-color: rgb(42, 99, 173);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], select {
  width: 70%;
  padding: 12px 0px;
  margin-left:30px;
  text-align: center;
  display: inline-block;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
}
p.form{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(73, 73, 73);
  margin-top: 10px;
}

