body{margin: 0px !important;}

.class_ul {
    list-style-type:none;
    margin:0 !important;
    padding: 0;
    overflow:hidden;
    margin: 100px;
    background-color: rgb(42, 99, 173);
  }
li {
    float:left;
  }
li a.activ {
    display: 8px block !important;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center !important;
    padding: 8px !important;
    text-decoration: none;
  }
li a:hover {
    background-color: rgb(126, 141, 161);
  }
  img.display{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50% !important;
  }
  
  h2.fotosf{
    text-align: center !important;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

  }

  div.fts{display: block;
  width: 45% !important;
  height: 45% !important;
  margin-left: auto;
  margin-right: auto;

  }

  div.baixo{
    list-style-type:none;
    position:fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    overflow:hidden;
    background-color: rgb(42, 99, 173);
    margin: -4px !important;
  }

  img.social{
height: 35px;
width: 35px;
position:relative;
bottom: 0;
right: 0;
margin: 5px;
  }

div.soci{
  float: left;
  margin: 20px;
  position: fixed;
  bottom:0;
  right: 0;
}